<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="graduate_design_plugin.TraceableFormulaPreferencePage"
            id="graduate_design_plugin.TraceableFormula"
            name="TraceableFormula">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="buaa.sei.xyb.ViewObjectContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               icon="icons/document_copy.png"
               id="buaa.sei.xyb.ViewMenu"
               label="Show Related Documentations"
               path="additions">
         </menu>
         <action
               class="buaa.sei.xyb.actions.ShowRelatedDocLSIAction"
               icon="icons/document_a4_new.png"
               id="buaa.sei.xyb.ShowRelatedDocumentsLSIAction"
               label="Show Related Doc(LSI)"
               menubarPath="buaa.sei.xyb.ViewMenu/show">
         </action>
         <action
               class="buaa.sei.xyb.actions.ShowRelatedDocLDALSIAction"
               icon="icons/document_a4_add.png"
               id="buaa.sei.xyb.ShowRelatedDocumentsLDALSIAction"
               label="Show Related Doc(LDA)"
               menubarPath="buaa.sei.xyb.ViewMenu/show">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="traceableformula"
            name="TraceableFormula">
      </category>
      <view
            category="traceableformula"
            class="buaa.sei.xyb.views.TraceableFormulaView"
            icon="icons/cubic.jpg"
            id="buaa.sei.xyb.TraceableFormulaView"
            name="TraceableFormula View">
      </view>
      <view
            category="traceableformula"
            class="buaa.sei.xyb.views.TreeTableLSI"
            icon="icons/documents_new.png"
            id="buaa.sei.xyb.RelatedDocsResultViewLSI"
            name="Related Docs View(LSI)"
            restorable="true">
      </view>
      <view
            category="traceableformula"
            class="buaa.sei.xyb.views.TreeTableLDALSI"
            icon="icons/documents_add.png"
            id="buaa.sei.xyb.RelatedDocsResultViewLDALSI"
            name="Related Docs View(LDA)"
            restorable="true">
      </view>
   </extension>

</plugin>
